{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-3">
        <!-- サイドメニュー -->
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'dashboard:admin_dashboard' %}">管理者ダッシュボード</a></li>
            <li class="list-group-item"><a href="{% url 'dashboard:user_dashboard' %}">ユーザーダッシュボード</a></li>
            <li class="list-group-item"><a href="{% url 'accounts:login' %}">ログアウト</a></li>
        </ul>
    </div>
    <div class="col-12 col-md-9">
        {% block dashboard_content %}
        <!-- 個別ダッシュボード内容 -->
        {% endblock %}
    </div>
</div>
{% endblock %}
